<table class="table">
  <thead>
    <tr>
      <th>State</th>
      <th>Content</th>
      <th>Limit</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= task.state %></td>
      <td><%= task.content %></td>
      <td><%= task.limit_date %></td>
      <td>
        <% if current_user?(task.user) %>
         <%= link_to "delete", task, method: :delete,
                                       data: { confirm: "削除しますか?" } %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>