<h3>Todoリスト(自分のみ)</h3>
  <ol class="tasks">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>状態</th>
          <th>タスク名</th>
          <th>期限</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
       <%= render @tasks %>
      </tbody>
    </table>
  </div>  
  </ol>
<%= will_paginate @tasks %>