<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "概要",   about_path %></li>
      <li>
       <a href="https://twitter.com/sinpujinrou" target="_blank" rel="noopener">お問い合わせはこちら</a>
      </li>
    </ul>
  </nav>
</footer>