<header class="navbar-inverse navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Todo app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li class="header-right"><%= link_to "ホーム",   root_path %></li>
        <li class="header-right"><%= link_to "ヘルプ",   help_path %></li>
        <li class="header-right"><%= link_to "ログイン", '#' %></li>
      </ul>
    </nav>
  </div>
</header>